.straight-car {
    position: relative;
    padding: 4rem 0 13rem 0;
}

.straight-car__title {
    margin-bottom: 2rem;
}

/* Маршрут */
.straight-car__inner {
    margin-bottom: 4rem;
}

.straight-car__titel--wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
}

.straight-car__subtitle {
    display: inline-block;
    position: relative;
    padding-left: .8rem;
}

.straight-car__namber {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    background-color: $red;

    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
}

.straight-car__name {
    display: block;
    margin-bottom: .8rem;

    font-size: 13px;
    font-weight: 400;
    line-height: 1.25;
    color: $white;
}

.straight-car__input {
    width: 100%;
    max-width: 72.8rem;
    margin-bottom: 1.6rem;

    font-family: inherit;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    padding: 1.3rem 3rem 1.3rem;
}

/* Транспорт */
.straight-car__content {
    display: flex;
}

.vehicle__content--item,
.cargo__content--item {
    width: 100%;
    max-width: 18rem;
    padding-right: 1.2rem;

    &:last-child {
        padding-right: 0;
    }
}

.vehicle--width,
.cargo--width {
    max-width: 36rem;
    margin-bottom: 1.6rem;
}

.straight-car__vidget {
    cursor: pointer;
}

.straight-car__name--real {
    position: absolute;
    width: 1px;
    height: 1px;
    left: -6000px;
    top: 50%;

    &:checked+.straight-car__name--fake::after {
        opacity: 1;
        visibility: visible;
    }
}

.straight-car__name--fake {
    position: relative;
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    background-color: transparent;
    border: solid 2px #fff;
    vertical-align: middle;
    margin-right: 1.2rem;

    &::after {
        content: "";
        display: inline-block;
        width: 2rem;
        height: 2rem;
        background-color: $red;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
    }
}

.straight-car__name--right {
    display: inline-block;
}

/* Время */
.time {
    width: 100%;
    max-width: 72.8rem;
}

.time__name--row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.time__group {
    position: relative;
    margin-bottom: .4rem;
}

.time__group--last {
    margin-bottom: 1.6rem;
}

.time__vidget {
    cursor: pointer;
}

.time__vidget--real {
    position: absolute;
    width: 1px;
    height: 1px;
    left: -6000px;
    top: 0;

    &:checked+.time__vidget--fake {
        border-color: $red;

    }
}

.time__vidget--control {
    position: absolute;
    left: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    border: solid 4px $white;
    z-index: 100;
}

.time__input {
    padding-left: 3.6rem;
    background-color: $secondary;
    margin-bottom: 0;
    color: $white;

    &:focus+.time__vidget--control {
        border-color: $red;
    }
}

.time__status {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    padding: .4rem 1.4rem;
    background-color: #717174;
    opacity: .6;

    font-size: 13px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.time__group.active .time__status {
    opacity: 1;
}

.time__group.active .time__vidget--control {
    border-color: $red;
}

.time__textarea {
    width: 100%;
    height: 8rem;
    padding: 1.3rem;
    resize: none;

    font-family: inherit;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.25;

    &::placeholder {
        color: #CFCFCF;
    }
}

.instruction {
    width: 100%;
    max-width: 35.6rem;
    padding: 2.4rem;
    box-shadow: 0px 10px 20px #0000001A;
    background-color: $secondary;
    
    font-size: 15px;
    font-weight: 400;
    line-height: 1.25;
    color: $white;

    @media (min-width: 1170px) {
        position: absolute;
        top: 11rem;
        left: 74rem;
    }
}